doctype html
html
  head
    
    title= title
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    //js
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src='/javascripts/index.js')
    include ../public/stylesheets/mixins.pug
  body(class="container-fluid")
    +navbar("Philly Fun","Philly Fun","id")
      +nav_item("#","active","events") Events
      +nav_item("/hello","","events") Happy Hours
      +nav_item("/hello","","contact") Contact
    block content
