<mat-sidenav-container class="sidenav-container">
  <mat-sidenav color="accent" class="sidenav" #sidenav [mode]="mode" fixedInViewport="true" fixedTopGap="58"
    role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/events">
        <span class="label">Events</span>
      </a>
      <a mat-list-item routerLink="/happyhour">
        <span class="label">Happy Hour</span>
      </a>

      <a mat-list-item (click)="logout()" *ngIf="loggedIn">
        <span class="label">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <a routerLink="/">
          Philly Fun Blog
        </a>
      </div>
      <div fxFlex fxLayout fxHide.xs>
        <a mat-button routerLink="/events" mat-button> Events</a>
        <a routerLink="/happyhour" mat-button> Happy Hours</a>
       
        <div fxFlex fxLayoutAlign="flex-end" *ngIf="!loggedIn">
          <a (click)="login()" mat-button> Login</a>
        </div>
        <div fxFlex fxLayoutAlign="flex-end" *ngIf="loggedIn">
          <div>[{{user.name}}]</div>
          <a (click)="logout()" mat-button> Logout</a>
        </div>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div *ngIf="loadingChild">
      <br /><br />
      <mat-progress-bar mode="indeterminate">
      </mat-progress-bar>
    </div>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>