 <h1 mat-dialog-title color="primary">Add Happy Hour</h1>
 <mat-dialog-content flex fxflex="100">
   <form fxLayout="column" [formGroup]="form" (ngSubmit)="submit(form)">
 	<mat-vertical-stepper #stepper>
  		<mat-step fxLayout="row" fxFlex="80%" [stepControl]="firstFormGroup">
  		    <ng-template matStepLabel>List some details!</ng-template>
   			
    			<mat-form-field [floatLabel]="form.value.floatLabel">
        			<!-- this acts as a placeholder and label -->
    				<mat-label>Enter a Bar/Resturant</mat-label>
      				<input ngx-google-places-autocomplete #places="ngx-places" (onAddressChange)="handleAddressChange($event)" matInput formControlName="barName">
    			</mat-form-field>
  			<div>
        		<button mat-button color="primary" matStepperNext>Next</button>
       	    </div>
  		</mat-step>
 		 <mat-step [stepControl]="secondFormGroup">
 		    <ng-template matStepLabel>Upload some specials!</ng-template>
    		<mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">
  				<mat-tab>
  				  <mat-card formArrayName="foodSpecials">
   				 	<ng-template mat-tab-label>
     					 MON 
    				</ng-template>
    				<!-- loop through specials -->
        			<div *ngFor="let unit of form.controls.foodSpecials.controls; let i=index">
    					<!-- group name in this case row index -->
          				<div [formGroupName]="i">
            				<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">
              
              					<!-- unit name input field -->
              				  <mat-form-field  fxFlex="60%"> 
                				<input matInput placeholder="Food Type" formControlName="itemName" required>  
                				<!-- input field error 
                				<mat-error *ngIf="unit.controls.unitName.invalid">
                    				Unit name is required.        
                				</mat-error>      
                				-->      
              			      </mat-form-field>
    
              					<!-- unit quantity input field -->
              				<mat-form-field  fxFlex="10%" fxFlex.xs="20"> 
               					 <input matInput placeholder="Price" type="number" formControlName="itemPrice" required>
              				</mat-form-field>

             				 <!-- unit price input field -->
             				<mat-form-field  fxFlex="20%"  fxFlex.xs="grow"> 
               					 <input matInput placeholder="Quantity" type="number" formControlName="itemQty">
              				</mat-form-field>
    					</div>
    				</div>
    			</div>
    			<mat-card-actions>
    			   <div fxLayout="row" fxLayout.xs="column">
          			<button type="button" mat-raised-button (click)="addSpecial('foodSpecials')">
            			<mat-icon>add box</mat-icon>
            				  More Specials
          			</button>
          			<button fxFlexOffset="40%" type="button" mat-raised-button (click)="changeDailyTab(1)">
            			<mat-icon>arrow_forward</mat-icon>
            				  Next Day
          			</button>
          		   </div>
        		</mat-card-actions>
    		   </mat-card>
  			 </mat-tab>

  			   <mat-tab formArrayName="drinkSpecials">
    			<mat-card >
   				 	<ng-template mat-tab-label>
     					 TUE 
    				</ng-template>
    				
    			<mat-card-actions>
    			   <div fxLayout="row" fxLayout.xs="column">
          			<button type="button" mat-raised-button (click)="addSpecial('foodSpecials')">
            			<mat-icon>add box</mat-icon>
            				  More Specials
          			</button>
          			<button fxFlexOffset="40%" type="button" mat-raised-button (click)="changeDailyTab(-1)">
            			<mat-icon>arrow_backward</mat-icon>
            				  Previous Day
          			</button>
          			<button type="button" mat-raised-button (click)="changeDailyTab(1)">
            			<mat-icon>arrow_forward</mat-icon>
            				  Next Day
          			</button>
          		   </div>
        		</mat-card-actions>
    		   </mat-card>
  				</mat-tab>
  				  <mat-tab formArrayName="drinkSpecials">
    				<ng-template mat-tab-label>
     					 WED
    				</ng-template>
    					Content 2
  				</mat-tab>
  				  <mat-tab formArrayName="drinkSpecials">
    				<ng-template mat-tab-label>
     					 THR
    				</ng-template>
    					Content 2
  				</mat-tab>
  				  <mat-tab formArrayName="drinkSpecials">
    				<ng-template mat-tab-label>
     					 FRI
    				</ng-template>
    					Content 2
  				</mat-tab>
  				  <mat-tab formArrayName="drinkSpecials">
    				<ng-template mat-tab-label>
     					 SAT
    				</ng-template>
    					Content 2
  				</mat-tab>
  				<mat-tab formArrayName="drinkSpecials">
    				<ng-template mat-tab-label>
     					 SUN
    				</ng-template>
    					Content 2
  				</mat-tab>

			</mat-tab-group>
  		 </mat-step>
	</mat-vertical-stepper>
   </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button fxLayoutAlign="right" mat-raised-button color="primary" (click)="nextStep()" type="submit">Submit</button>
    <button mat-raised-button color="warn" type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>

