<div style="width:100%;height:100%;">
  <mat-card [ngClass]="'hhCard'" fxLayout="column" fxFlex>
    <mat-card-header fxFlex>
      <mat-card-title>{{happyHour.name}}</mat-card-title>
      <mat-card-subtitle>{{happyHour.formattedAddress}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxflex>
      <mat-chip-list>
        <ng-container *ngFor="let special of happyHour.todaysSpecials.specials; let i= index">
          <mat-chip *ngIf="i < 4 && special.itemName !='' ">{{special.itemName}} </mat-chip>
        </ng-container>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions fxFlexAlign="end" align="end">
      <button mat-button (click)="editHappyHour(happyhour)">Edit</button>
      <button mat-button (click)="deleteHappyHour(happyhour.name,happyhour._id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>