<!--The content below is only a placeholder and can be replaced.-->
<nav style="background-color:red" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Philly Fun</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/events">Social Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/happyhour">Happy Hours</a>
      </li>
      <!-- Using the ng bootstrap js functions without jquery 
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
         <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
         <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
           <button class="dropdown-item">Action - 1</button>
           <button class="dropdown-item">Another Action</button>
           <button class="dropdown-item">Something else is here</button>
         </div>
        </div>
      </li>
      -->
       
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Any routes that gets served get inserted into here -->
<router-outlet></router-outlet>

