.hhCard {
    /*the min-height here caused wrapping issues with card actions in small screens */
    margin-bottom:5px;
    border : solid 1px;
    border-color:blue;
}

agm-map {
    height:500px;
    padding-right:5px;
}