agm-map {
    height:500px;
    padding-right:5px;
}

//margin: 10px 10px 10px 10px;
 //width:100%;
.cardContainer {
    margin-left: 10px;
    margin-right:10px;
}

.mapBox {
    margin:auto;
    margin-bottom:20px;
    width:80%;
    height:60%;
}