<br/>
<br/>
<div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="toggleFormDialog()">New Happy Hour</button>
</div>
<br/>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<br/>
<ng-container *ngIf="happyHours | async; else loading">
    <div fxflex fxLayout.xs="column" fxLayout="row wrap" fxLayoutAlign.gt-xs="space-evenly start" 
                                    fxLayoutAlign.xs="start" fxLayoutGap="2% grid">
        <div [ngClass]="'hhCard'" fxFlex fxflex.xs="100" fxFlex.gt-xs="31" *ngFor="let happyhour of happyHours | async">
            <mat-card fxFlex>
                <mat-card-header>
                    <mat-card-title>{{happyhour.name}}</mat-card-title>
                    <mat-card-subtitle>{{happyhour.formattedAddress}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        insert specials here
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="editHappyHour(happyhour._id)">Edit</button>
                    <button mat-button>Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <mat-progress-bar [mode]="intermediate">
    </mat-progress-bar>
</ng-template>